 <div class = "column is-10 is-offset-1">
        <div class = "box">
          <div class = "columns">

            <div class = "column" *ngIf="cottage.entityPhoto != null || cottage.photos.length != 0">
              <div class="box">
                <ngb-carousel>
                  <ng-template ngbSlide>
                    <div class="picsum-img-wrapper image is-5by3">
                      <img [src]="cottage.entityPhoto" alt="Random first slide">
                    </div>
                  </ng-template>
                  <ng-template ngbSlide *ngFor="let img of cottage.photos">
                    <div class="picsum-img-wrapper image is-5by3">
                      <img [src]="img" alt="Random first slide">
                    </div>
                  </ng-template>
                </ngb-carousel>
<!--                <figure class="image is-5by3">-->
<!--                  <img src="{{cottage.entityPhoto}}">-->
<!--                </figure>-->
              </div>
            </div>

            <form *ngIf ="hasSignedIn() && loggedUserIsOwner()" [formGroup]="cottageUpdateForm">
            <div class = "column">
              <div class="box">
                <h4 class="title is-4 my-2">Name</h4>
                <input class = "input is-small is-rounded" formControlName="cottageName">
                <h4 class="title is-4 my-2">Description</h4>
                <textarea class = "is-rounded textarea"  formControlName="description"></textarea>
                <h4 class="title is-4 my-2">Maximum number of guests</h4>
                <input class = "input is-small is-rounded"  formControlName="maxNumberOfGuests">
                <h4 class="title is-4 my-2">Price per day</h4>
                <input class = "input is-small is-rounded" formControlName="pricePerDay">
                <h4 class="title is-4 my-2">Rooms</h4>
                <table class="table is-narrow">
                  <thead>
                  <tr>
                    <th>Room</th>
                    <th>Num. of beds</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let room of cottage.rooms; let i=index;">
                    <th>{{i+1}}</th>
                    <td>{{room.numberOfBeds}}</td>
                  </tr>
                  </tbody>
                </table>
                <nav class="level">
                  <div class="level-left">
                  </div>
                  <div class="level-right">
                    <button class="button is-info is-rounded level-item" [disabled]="cottageUpdateForm.invalid"
                            (click)="updateCottage(cottageUpdateForm)">Update</button>
                  </div>
                </nav>
              </div>
              <div class="buttons block">
                <button class="button is-link is-rounded is-light" (click)="showForm=2">Create new quick reservation</button>
                <button class="button is-warning is-rounded is-light" routerLink="reservations">Reservations</button>
                <button class="button is-danger is-rounded is-light"  routerLink="cottages" (click)="deleteCottage()">Delete</button>
                <div class="modal">
                  <div class="modal-background"></div>
                  <div class="modal-card">
                    <header class="modal-card-head">
                      <p class="modal-card-title">Modal title</p>
                      <button class="delete" aria-label="close"></button>
                    </header>
                    <section class="modal-card-body">
                      <!-- Content ... -->
                    </section>
                    <footer class="modal-card-foot">
                      <button class="button is-success">Save changes</button>
                      <button class="button">Cancel</button>
                    </footer>
                  </div>
                </div>
                <div class="modal is-active" *ngIf="showForm === 2">
                  <div class="modal-background"></div>
                  <div class="modal-card">
                    <header class="modal-card-head">
                      <p class="modal-card-title">Create new quick reservation</p>
                      <button class="delete" (click)="showForm=1" aria-label="close"></button>
                    </header>
                    <section class="modal-card-body">
                      <app-reservation-form [entityId]="cottage.id" (createdReservationEvent)="createNewReservation($event)">
                      </app-reservation-form>
                    </section>
                  </div>
                </div>
              </div>
            </div>
            </form>

            <div class = "column" *ngIf ="!(hasSignedIn() && loggedUserIsOwner())">
              <div class="box">
                <h4 class="title is-4 my-2">Name</h4>
                <p class = "item">
                  {{cottage.cottageName}}
                </p>
                <h4 class="title is-4 my-2">Description</h4>
                <p class = "item">
                  {{cottage.description}}
                </p>
                <h4 class="title is-4 my-2">Maximum number of guests</h4>
                <p class = "item">
                  {{cottage.maxNumberOfGuests}}
                </p>
                <h4 class="title is-4 my-2">Price per day</h4>
                <p class = "item">
                  {{cottage.pricePerDay}}
                </p>
                <h4 class="title is-4 my-2">Rooms</h4>
                <table class="table is-narrow">
                  <thead>
                  <tr>
                    <th>Room</th>
                    <th>Num. of beds</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let room of cottage.rooms; let i=index;">
                    <th>{{i+1}}</th>
                    <td>{{room.numberOfBeds}}</td>
                  </tr>
                  </tbody>
                </table>
                <div class="buttons block">
                  <button class="button is-danger is-rounded" *ngIf="hasRole('ADMIN')" (click)="deleteCottage()">Delete</button>
                </div>
                <i class="fab fa-500px"></i>
              </div>
            </div>
         </div>
      </div>
     <div class = "box" *ngIf="cottage.id != 0">
       <app-calendar [entityId]= "cottage.id">
       </app-calendar>
     </div>
     <div class = "box" *ngIf="addressFormated != null">
       {{addressFormated}}
       <app-map [address]="addressFormated"></app-map>
     </div>
 </div>
