 <div class = "column is-three-fifths is-offset-one-fifth">
        <div class = "box">
          <div class = "columns">

            <div class = "column">
              <div class="tile is-parent">
                <article class="tile is-child notification is-info">
                  <p class="title">Middle tile</p>
                  <figure class="image is-square">
                    <img src="https://bulma.io/images/placeholders/640x480.png">
                  </figure>
                </article>
              </div>
            </div>

            <form *ngIf ="hasSignedIn() && loggedUserIsOwner()" [formGroup]="cottageUpdateForm">
            <div class = "column">
              <div class="box">
                <h4 class="title is-4">Name</h4>
                <input class = "item" [(ngModel)]="cottage.cottageName" formControlName="cottageName">
                <h4 class="title is-4">Description</h4>
                <input class = "item" [(ngModel)]="cottage.description" formControlName="description">
                <h4 class="title is-4">Maximum number of guests</h4>
                <input class = "item" [(ngModel)]="cottage.maxNumberOfGuests" formControlName="maxNumberOfGuests">
                <h4 class="title is-4">Price per day</h4>
                <input class = "item" [(ngModel)]="cottage.pricePerDay" formControlName="pricePerDay">
                <h4 class="title is-4">Rooms</h4>
                <h5 class = "subtitle">
                  number of beds:
                </h5>
                <ul *ngFor="let room of cottage.rooms">
                  <li> {{room.numberOfBeds}}</li>
                </ul>
                <button class="button is-info is-rounded" (click)="updateCottage()">Update</button>
              </div>
              <div class="buttons" >
                <button class="button is-danger is-rounded" (click)="deleteCottage()">Delete</button>
                <button class="button is-link is-rounded" (click)="showForm=2">Create new quick reservation</button>
                <div class="modal is-active" *ngIf="showForm === 2">
                  <div class="modal-background"></div>
                  <div class="modal-card">
                    <header class="modal-card-head">
                      <p class="modal-card-title">Create new quick reservation</p>
                      <button class="delete" (click)="showForm=1" aria-label="close"></button>
                    </header>
                    <section class="modal-card-body">
                      <app-reservation-form [entityId]="cottage.id" (createdReservationEvent)="createNewReservation($event)">
                      </app-reservation-form>
                    </section>
                    <footer class="modal-card-foot">
                      <button class="button is-success">Save changes</button>
                      <button class="button" (click)="showForm=1">Cancel</button>
                    </footer>
                  </div>
                </div>
              </div>
            </div>
            </form>

            <div class = "column" *ngIf ="!(hasSignedIn() && loggedUserIsOwner())">
              <div class="box">
                <h4 class="title is-4">Name</h4>
                <p class = "item">
                  {{cottage.cottageName}}
                </p>
                <h4 class="title is-4">Description</h4>
                <p class = "item">
                  {{cottage.description}}
                </p>
                <h4 class="title is-4">Maximum number of guests</h4>
                <p class = "item">
                  {{cottage.maxNumberOfGuests}}
                </p>
                <h4 class="title is-4">Price per day</h4>
                <p class = "item">
                  {{cottage.pricePerDay}}
                </p>
                <h4 class="title is-4">Rooms</h4>
                <h5 class = "subtitle">
                  number of beds:
                </h5>
                <ul *ngFor="let room of cottage.rooms">
                    <li>{{room.numberOfBeds}}</li>
                </ul>
              </div>
            </div>
      </div>
      </div>
         <div class = "box" *ngIf="cottage.id != 0">
           <app-calendar [entityId]= "cottage.id">
           </app-calendar>
         </div>
    </div>
