<div class = "column is-10 is-offset-1">
  <table class="table is-striped">
    <thead>
    <tr>
      <th><abbr title="Id">Id</abbr></th>
      <th><abbr title="Creation date">Creation date</abbr></th>
      <th><abbr title="Price">Price</abbr></th>
      <th><abbr title="Number of guests"># of guests</abbr></th>
      <th><abbr title="Reservation status">Status</abbr></th>
      <th><abbr title="Reservation start">Start</abbr></th>
      <th><abbr title="Reservation end">End</abbr></th>
      <th><abbr title="Sale start">Sale start</abbr></th>
      <th><abbr title="Sale end">Sale end</abbr></th>
      <th><abbr title="Client id">Client id</abbr></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let res of reservations">
      <th>{{res.id}}</th>
      <td>{{res.creationDate}}</td>
      <td>{{res.price}}</td>
      <td>{{res.numberOfGuests}}</td>
      <td>{{res.reservationStatus.toString()}}</td>
      <td>{{res.reservedPeriod.startDate}}</td>
      <td>{{res.reservedPeriod.endDate}}</td>
      <td>{{res.salePeriod.startDate}}</td>
      <td>{{res.salePeriod.endDate}}</td>
      <td>{{res.clientId}}</td>
    </tr>
    </tbody>
  </table>
</div>
