<mat-toolbar color="primary" class="mat-elevation-z8">
    <span><i class="fa fa-suitcase" aria-hidden="true" style="margin-right: 10%;"></i>ISA43</span>

    <div class="spacer"></div>

    <a mat-button routerLink="config-singleton" *ngIf="hasRole('ADMIN')">System Configuration</a>
    <a mat-button routerLink="home">Home</a>
  <!--USER AND GUEST ENTITY CATALOGS!-->
    <a mat-button routerLink="adventuresCatalog">Adventures</a>
    <a mat-button routerLink="boatsCatalog">Boats</a>
    <a mat-button routerLink="cottagesCatalog">Cottages</a>
  <!--!-->
    <!-- <a mat-button routerLink="userComplaint" *ngIf="hasRole('USER')">Complaint</a> -->
    <a mat-button routerLink="complaints" *ngIf="hasRole('ADMIN')">Complaints</a>
    <a mat-button routerLink="clients-reviews" *ngIf="hasRole('ADMIN')">Client reviews</a>
    <a mat-button routerLink="owners-reviews" *ngIf="hasRole('ADMIN')">Owner reviews</a>
    <a mat-button routerLink="userReservations" *ngIf="hasRole('USER')">Reservations</a>

    <div class="dropdown is-hoverable" *ngIf="hasSignedIn() && hasRole('ADMIN')">
      <div class="dropdown-trigger">
        <button class="mat-button" aria-haspopup="true" aria-controls="dropdown-menu4">
          <span>Requests</span>
          <span class="icon is-small">
          <i class="fa fa-angle-down" aria-hidden="true"></i>
        </span>
        </button>
      </div>
      <div class="dropdown-menu" id="dropdown-menu4" role="menu">
        <div class="dropdown-content">
          <div color="accent" class="dropdown-item">
            <a mat-button routerLink="user-delete-requests">Delete Requests</a>
          </div>
          <div class="dropdown-item">
            <a mat-button routerLink="registration-requests" >Registration Requests</a>
          </div>
        </div>
      </div>
    </div>

    <div class="dropdown is-hoverable">
      <div class="dropdown-trigger">
        <button class="mat-button" aria-haspopup="true" aria-controls="dropdown-menu4">
          <span>Entities</span>
          <span class="icon is-small">
          <i class="fa fa-angle-down" aria-hidden="true"></i>
        </span>
        </button>
      </div>
      <div class="dropdown-menu" id="dropdown-menu" role="menu">
        <div class="dropdown-content">
            <a *ngIf="hasSignedIn() && hasRole('INSTRUCTOR')" routerLink = "adventures" class = "dropdown-item">Adventures</a>
        </div>
      </div>
    </div>
    <a mat-button routerLink="dashboard" *ngIf="hasSignedIn() && (hasRole('COTTAGEOWNER') || hasRole('BOATOWNER')) ">Dashboard</a>
    <a mat-button routerLink="users" *ngIf="hasSignedIn() && hasRole('ADMIN')">Users</a>
    <a mat-button routerLink="login" *ngIf="!hasSignedIn()">Login</a>
    <a mat-stroked-button color="accent" routerLink="signupAdmin" *ngIf="hasSignedIn() && hasRole('ADMIN')">Register Admin</a>
    <a mat-stroked-button color="accent" routerLink="signup" *ngIf="!hasSignedIn()">Sign Up As Owner</a>
    <a mat-raised-button color="accent" routerLink="signupClient" *ngIf="!hasSignedIn()">Sign Up</a>
    <a mat-stroked-button color="accent" *ngIf="hasSignedIn()" (click)="logout()" >Logout</a>
    <a mat-stroked-button color="accent" routerLink="profile/{{user.id}}" *ngIf="hasSignedIn()">Profile</a>
</mat-toolbar>

