<mat-toolbar color="primary" class="mat-elevation-z8">
    <span><mat-icon>eco</mat-icon>App</span>

    <div class="spacer"></div>

    <a mat-button routerLink="registration-requests" *ngIf="hasSignedIn() && hasRole('ADMIN')">Registration Requests</a>
    <a mat-button routerLink="home">Home</a>
    <a mat-button routerLink="adventures" *ngIf="hasSignedIn() && hasRole('ADMIN')">Adventures</a>
    <a mat-button *ngIf="hasSignedIn() && hasRole('ADMIN')">Cottages</a>
    <a mat-button *ngIf="hasSignedIn() && hasRole('ADMIN')">Boats</a>
  <!--USER AND GUEST ENTITY CATALOGS!-->
    <a mat-button routerLink="adventuresCatalog">Adventures</a>
    <a mat-button routerLink="boatsCatalog">Boats</a>
    <a mat-button routerLink="cottagesCatalog">Cottages</a>
  <!--!-->
    <a mat-button routerLink="userComplaint" *ngIf="hasRole('USER')">Complaint</a>
    <a mat-button routerLink="userReservations" *ngIf="hasRole('USER')">Reservations</a>

    <div class="dropdown is-hoverable" *ngIf="hasSignedIn() && hasRole('ADMIN')">
      <div class="dropdown-trigger">
        <button class="mat-button" aria-haspopup="true" aria-controls="dropdown-menu4">
          <span>Requests</span>
          <span class="icon is-small">
          <i class="fas fa-angle-down" aria-hidden="true"></i>
        </span>
        </button>
      </div>
      <div class="dropdown-menu" id="dropdown-menu4" role="menu">
        <div class="dropdown-content">
          <div color="accent" class="dropdown-item">
            <a mat-button routerLink="user-delete-requests">Delete Requests</a>
          </div>
          <div class="dropdown-item">
            <a mat-button routerLink="registration-requests" >Registration Requests</a>
          </div>
        </div>
      </div>
    </div>

    <a mat-button routerLink="home">Home</a>
    <div class="dropdown is-hoverable">
      <div class="dropdown-trigger">
        <button class="mat-button" aria-haspopup="true" aria-controls="dropdown-menu4">
          <span>Entities</span>
          <span class="icon is-small">
          <i class="fas fa-angle-down" aria-hidden="true"></i>
        </span>
        </button>
      </div>
      <div class="dropdown-menu" id="dropdown-menu4" role="menu">
        <div class="dropdown-content">
          <div color="accent" class="dropdown-item">
            <a mat-button routerLink = "adventures">Adventures</a>
          </div>
          <div class="dropdown-item">
            <a mat-button routerLink = "cottages">Cottages</a>
          </div>
          <div class="dropdown-item">
            <a mat-button routerLink = "boats">Boats</a>
          </div>
        </div>
      </div>
    </div>
    <a mat-button routerLink="register-cottage" *ngIf="hasSignedIn() && hasRole('COTTAGEOWNER')">Register cottage</a>
    <a mat-button routerLink="users">Users</a>
    <a mat-button routerLink="login" *ngIf="!hasSignedIn()">Login</a>
    <a mat-stroked-button color="accent" routerLink="signup" *ngIf="!hasSignedIn()">Sign Up As Owner</a>
    <a mat-raised-button color="accent" routerLink="signupClient" *ngIf="!hasSignedIn()">Sign Up</a>
    <a mat-stroked-button color="accent" *ngIf="hasSignedIn()" (click)="logout()" >Logout</a>
    <a mat-stroked-button color="accent" routerLink="profile" *ngIf="hasSignedIn()">Profile</a>
</mat-toolbar>

