<div class="columns is-mobile is-centered" xmlns="http://www.w3.org/1999/html">
    <form [formGroup]="changePasswordForm">

        <mat-form-field>
            <input matInput type="password" placeholder="Old Password" formControlName="oldPassword" required >
        </mat-form-field>
        <mat-form-field>
            <input matInput type="password" placeholder="New Password" formControlName="newPassword" required >
        </mat-form-field>
        <mat-form-field>
            <input matInput type="password" placeholder="Repeat Password" formControlName="repeatNewPassword" required>
        </mat-form-field>

        <div>
            <button class="button is-success is-right" [disabled]="!changePasswordForm.valid" (click)="saveChangedPassword()" >Save changes</button>
        </div>

    </form>
</div>
