<div class="container">
  <div class="columns">
    <div class="column is-2 ">
      <aside class="menu is-hidden-mobile">
        <p class="menu-label">
          General
        </p>
        <ul class="menu-list">
          <li><a [ngClass]="{'is-active': activeButton === 'DASHBOARD'}" (click)="activeButton='DASHBOARD'"> Dashboard</a></li>
          <li>
            Manage Your <div *ngIf="hasSignedIn() && hasRole('COTTAGEOWNER')">Cottages</div> <div *ngIf="hasSignedIn() && hasRole('BOATOWNER')"> Boats</div>
            <ul>
              <li><a *ngIf="hasSignedIn() && hasRole('COTTAGEOWNER')" (click)="activeButton='COTTAGES'" [ngClass]="{'is-active': activeButton === 'COTTAGES'}">My Cottages</a></li>
              <li><a *ngIf="hasSignedIn() && hasRole('BOATOWNER')" (click)="activeButton='BOATS'" [ngClass]="{'is-active': activeButton === 'BOATS'}">My Boats</a></li>
              <li><a *ngIf="hasSignedIn() && hasRole('COTTAGEOWNER')" (click)="activeButton='REGISTER-COTTAGE'" [ngClass]="{'is-active': activeButton === 'REGISTER-COTTAGE'}">Register cottage</a></li>
              <li><a *ngIf="hasSignedIn() && hasRole('BOATOWNER')" (click)="activeButton='REGISTER-BOAT'" [ngClass]="{'is-active': activeButton === 'REGISTER-BOAT'}">Register boat</a></li>
            </ul>
          </li>

        </ul>
        <p class="menu-label">
          Administration
        </p>
        <ul class="menu-list">
          <li><a>My Profile</a></li>
        </ul>
      </aside>
    </div>
    <div class="column is-10">
      <div *ngIf="activeButton==='DASHBOARD'">
      <section class="hero is-info welcome is-small">
        <div class="hero-body">
          <div class="container">
            <h1 class="title">
              Hello, {{this.user.firstName}}.
            </h1>
            <h2 class="subtitle">
              I hope you are having a great day!
            </h2>
          </div>
        </div>
      </section>
      <section class="info-tiles">
        <div class="tile is-ancestor has-text-centered column is-gapless">
          <div class="tile is-parent column">
            <article class="tile is-child box">
              <p class="title">{{this.activeEntities.size}}</p>
              <div class="subtitle">
                Active
                <div *ngIf="hasSignedIn() && hasRole('COTTAGEOWNER')">cottages</div>
                <div *ngIf="hasSignedIn() && hasRole('BOATOWNER')"> boats</div>
              </div>
            </article>
          </div>
          <div class="tile is-parent column">
            <article class="tile is-child box">
              <p class="title">{{this.completedReservations}}</p>
              <p class="subtitle">Reservations completed</p>
            </article>
          </div>
          <div class="tile is-parent column">
            <article class="tile is-child box">
              <p class="title">{{this.canceledReservationsNumber}}</p>
              <p class="subtitle">Reservations canceled</p>
            </article>
          </div>
          <div class="tile is-parent column">
            <article class="tile is-child box">
              <p class="title">{{this.allEarnings}}$</p>
              <p class="subtitle">Earned</p>
            </article>
          </div>
        </div>
      </section>
      <div *ngIf="this.reservations">
        <table class="table is-striped">
          <thead>
          <tr>
            <th><abbr title="Id">Id</abbr></th>
            <th><abbr title="Price">Price</abbr></th>
            <th><abbr title="Number of guests"># of guests</abbr></th>
            <th><abbr title="Reservation status">Status</abbr></th>
            <th><abbr title="Reservation start">Start</abbr></th>
            <th><abbr title="Reservation end">End</abbr></th>
            <th><abbr title="Sale start">Sale start</abbr></th>
            <th><abbr title="Sale end">Sale end</abbr></th>
            <th><abbr title="Client id">Client id</abbr></th>
            <th><abbr title="Additional services"> Service : Price</abbr></th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let res of reservations">
            <th>{{res.id}}</th>
            <td>{{res.price}}</td>
            <td>{{res.numberOfGuests}}</td>
            <td>{{res.reservationStatus.toString()}}</td>
            <td>{{res.reservedPeriod.startDate}}</td>
            <td>{{res.reservedPeriod.endDate}}</td>
            <td>{{res.salePeriod.startDate}}</td>
            <td>{{res.salePeriod.endDate}}</td>
            <td>{{res.clientId}}</td>
            <td>
              <li *ngFor="let addService of res.additionalServices">
                {{addService['name']}} : {{addService['price']}}
              </li>
            </td>
            <td>
              <div>
                <button *ngIf="isReservationActive(res)" class="button is-link is-light level-item" (click)="showForm=2">Create new reservation</button>
                <div class="modal is-active" *ngIf="showForm === 2">
                  <div class="modal-background"></div>
                  <div class="modal-card">
                    <header class="modal-card-head">
                      <p class="modal-card-title">Create new quick reservation</p>
                      <button class="delete" (click)="showForm=1" aria-label="close"></button>
                    </header>
                    <section class="modal-card-body">
                      <app-reservation-form [entityId]="res.entityId" [clientId]="res.clientId" (createdReservationEvent)="createNewReservation($event)">
                      </app-reservation-form>
                    </section>
                  </div>
                </div>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <nav class="level">
        <div class="level-left">
          <div class="level-item">
            <p class="subtitle is-5">
              <strong>{{reservations.length}}</strong> reservations
            </p>
          </div>
          <div class="level-item">
            <form [formGroup]= "reservationsDateRangeForm">
              <div class=" field has-addons">
                <div class = "control">
                  <input class = "input" id="startDate" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1"
                         placeholder="From" formControlName="startDate">
                  <owl-date-time #dt1></owl-date-time>
                </div>
                <div class = "control">
                  <input class = "input" id="endDate" [owlDateTime]="dt2" [owlDateTimeTrigger]="dt2"
                         placeholder="To" formControlName="endDate">
                  <owl-date-time #dt2 ></owl-date-time>
                </div>
                <div class = "control">
                  <button class="button is-success is-right" (click) = "findReservationsInDateRange(reservationsDateRangeForm)">Search</button>
                </div>
              </div>
            </form>
          </div>
        </div>

        <!-- Right side -->
        <div class="level-right">
          <p class="subtitle is-5 level-item">
            <strong>{{pricesList}}$</strong> earned
          </p>
          <div class="dropdown is-hoverable level-item">
            <div class="dropdown-trigger">
              <button class="button is-link is-inverted" aria-haspopup="true" aria-controls="dropdown-menu4">
                <span class="icon is-small">
                  <i class="fa fa-angle-down" aria-hidden="true"></i>
                </span>
              </button>
            </div>
            <div class="dropdown-menu" id="dropdown-menu4" role="menu">
              <div class="dropdown-content">
                  <span class="dropdown-item is-size-5" [ngClass]="{'tag is-success is-light': filterStatus == 1 }" (click)="filterReservationsByStatus('FREE'); filterStatus = 1">Free</span>
                  <span class="dropdown-item is-size-5" [ngClass]="{'tag is-success is-light': filterStatus == 2 }" (click)="filterReservationsByStatus('RESERVED'); filterStatus = 2">Reserved</span>
                  <span class="dropdown-item is-size-5" [ngClass]="{'tag is-success is-light': filterStatus == 3 }" (click)="filterReservationsByStatus('COMPLETED'); filterStatus = 3">Completed</span>
                  <span class="dropdown-item is-size-5" [ngClass]="{'tag is-danger is-light': filterStatus == 4 }" (click)="filterReservationsByStatus('CANCELED'); filterStatus = 4">Canceled</span>
                  <span class="dropdown-item is-size-5" (click)="activeReservations()">active reservations</span>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
      <div *ngIf="activeButton==='BOATS'">
        <app-boats>
        </app-boats>
      </div>
      <div *ngIf="activeButton==='COTTAGES'">
        <app-cottages>
        </app-cottages>
      </div>
      <div *ngIf="activeButton==='REGISTER-BOAT'">
        <app-register-boat>
        </app-register-boat>
      </div>
      <div *ngIf="activeButton==='REGISTER-COTTAGE'">
        <app-register-cottage>
        </app-register-cottage>
      </div>
  </div>
  </div>
</div>
<script async type="text/javascript" src="../js/bulma.js"></script>
