<div fxLayoutAlign="center center" fxFlexFill class="main-div">
    <mat-card fxFlex="75">
        <mat-toolbar color="primary">Signup Form</mat-toolbar>
        <form fxLayoutAlign="stretch" fxLayout="column" class="signup-form" [formGroup]="form" (submit)="submit()">
            <mat-form-field>
                <input matInput type="text" placeholder="First Name" formControlName="firstName" ngbPopover="You must enter minimum 2 and maximum 64 characters." popoverTitle="Validation" required minlength="2" maxlength="64">
            </mat-form-field>
            <mat-form-field>
                <input matInput type="text" placeholder="Surname" formControlName="surname" ngbPopover="You must enter minimum 2 and maximum 64 characters." popoverTitle="Validation" required minlength="2" maxlength="64">
            </mat-form-field>
            <mat-form-field>
                <input matInput type="email" placeholder="Email" formControlName="email" ngbPopover="You must enter minimum 5 and maximum 64 characters. This is email field don't forget @ " popoverTitle="Validation" required minlength="5" maxlength="64">
              </mat-form-field>
            <mat-form-field>
                <input matInput type="password" placeholder="Password" formControlName="password" ngbPopover="You must enter minimum 5 and maximum 64 characters." popoverTitle="Validation" required minlength="5" maxlength="64">
              </mat-form-field>
              <mat-form-field>
                <input matInput type="password" placeholder="Repeat Password" formControlName="repeatPassword" ngbPopover="You must enter minimum 5 and maximum 64 characters." popoverTitle="Validation" required minlength="5" maxlength="64">
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="City" formControlName="city" required>
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Country" formControlName="country" required>
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Street" formControlName="street" required>
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="House Number" formControlName="houseNumber" required>
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Phone Number" formControlName="phoneNumber" ngbPopover="You must enter 11 numbers." popoverTitle="Validation" required minlength="11" maxlength="11">
              </mat-form-field>
              <mat-form-field>
                <mat-label>Registration Type</mat-label>
                <mat-select formControlName = "ownerType" required>
                  <mat-option value="COTTAGEOWNER">Cottage Owner</mat-option>
                  <mat-option value="BOATOWNER">Boat Owner</mat-option>
                  <mat-option value="INSTRUCTOR">Fishing Instructor</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <textarea matInput type="text" placeholder="Registration Explanation" formControlName="registrationExplanation" ngbPopover="You must enter min 5 and max 200 characters." popoverTitle="Validation" required minlength="5" maxlength="200"></textarea>
              </mat-form-field>
              <button mat-raised-button [disabled]="!form.valid" type="submit">Sign Up</button>
          </form>
    </mat-card>
</div>