<div class="content" style="margin-left:3%; margin-top:3%; margin-right: 3%" *ngIf="boats.length > 0">
  <h1>BOATS</h1>
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div *ngFor="let item of boats">
      <mat-card class="mat-elevation-z4" style="width:520px; height: 500px;">
        <a routerLink="/oneBoat/{{item.id}}" routerLinkActive="active">
          <mat-card-header class="name">
            <mat-card-title>{{item.name}}</mat-card-title>
          </mat-card-header>
        </a>
        <div class="photo">
          <img style="height: 250px;" mat-card-image src="{{item.entityPhoto}}">
        </div>
        <mat-card-content>
          <p>
            Description: {{item.description}}
          </p>
          <p>
            Guests: max {{item.maxNumberOfGuests}}
          </p>
          <p>
            Price: {{item.pricePerDay}}
          </p>
          <p>
            Average grade: {{item.averageGrade}}
          </p>
          <p>
            Address: {{item.address.country}}, {{item.address.city}}, {{item.address.street}}, {{item.address.houseNumber}}
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<div class="content" style="margin-left:3%; margin-top:3%; margin-right: 3%" *ngIf="adventures.length > 0">
  <h1>ADVENTURES</h1>
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div *ngFor="let item of adventures">
      <mat-card class="mat-elevation-z4" style="width:520px; height: 500px;">
        <a routerLink="/oneAdventure/{{item.id}}" routerLinkActive="active">
        <mat-card-header class="name">
          <mat-card-title>{{item.name}}</mat-card-title>
        </mat-card-header>
        </a>
        <div class="photo">
          <img style="height: 250px;" mat-card-image src="{{item.entityPhoto}}">
        </div>
        <mat-card-content>
          <p>
            Description: {{item.description}}
          </p>
          <p>
            Guests: max {{item.maxNumberOfGuests}}
          </p>
          <p>
            Price: {{item.pricePerDay}}
          </p>
          <p>
            Average grade: {{item.averageGrade}}
          </p>
          <p>
            Address: {{item.addressDTO.country}}, {{item.addressDTO.city}}, {{item.addressDTO.street}}, {{item.addressDTO.houseNumber}}
          </p>

        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<div class="content" style="margin-left:3%; margin-top:3%; margin-right: 3%" *ngIf="cottages.length > 0">
  <h1>COTTAGES</h1>
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div *ngFor="let item of cottages">
      <mat-card class="mat-elevation-z4" style="width:520px; height: 500px;">
        <a routerLink="/oneCottage/{{item.id}}" routerLinkActive="active">
          <mat-card-header class="name">
            <mat-card-title>{{item.cottageName}}</mat-card-title>
          </mat-card-header>
        </a>
        <div class="photo">
          <img style="height: 250px;" mat-card-image src="{{item.entityPhoto}}">
        </div>
        <mat-card-content>
          <p>
            Description: {{item.description}}
          </p>
          <p>
            Guests: max {{item.maxNumberOfGuests}}
          </p>
          <p>
            Price: {{item.pricePerDay}}
          </p>
          <p>
            Average grade: {{item.averageGrade}}
          </p>
          <p>
            Address: {{item.address.country}}, {{item.address.city}}, {{item.address.street}}, {{item.address.houseNumber}}
          </p>

        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
