<div class="content" style="width:3000px; margin-left:30%; margin-top:2%; margin-right:15%">
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="25%">
      <mat-card class="mat-elevation-z4">
        <form>
          <mat-card-header class="name">
            <mat-card-title>{{boat.name}}</mat-card-title>
          </mat-card-header>
          <div class="photo">
            <img  height="250px auto" mat-card-image src="{{boat.entityPhoto}}">
          </div>
          <mat-card-content>
            <p>
              Description: {{boat.description}}
            </p>
            <p>
              Guests: max {{boat.maxNumberOfGuests}}
            </p>
            <p>
              Price: {{boat.pricePerDay}}
            </p>
            <p>
              Address: {{boat.address.country}}, {{boat.address.city}}, {{boat.address.street}}, {{boat.address.houseNumber}}
            </p>
          </mat-card-content>
        </form>
      </mat-card>
    </div>
  </div>
</div>
