
<div class="columns is-mobile is-centered">
  <div class="column is-half">
    <form [formGroup]="cottageCreationForm" (ngSubmit)="onSubmit()">

      <div class = "field">
        <label class = "label" for="cottageName">
          Name
        </label>
        <div class = "control">
          <input class = "input" id="cottageName" type="text" formControlName="cottageName">
        </div>
      </div>

      <div class = "field">
        <label class = "label" for="maxNumberOfGuests">
          Maximum number of guests
        </label>
        <div class = "control">
          <input class = "input" id="maxNumberOfGuests" type="number" formControlName="maxNumberOfGuests">
        </div>
      </div>

      <div class="field">
        <label class="label">Description</label>
        <div class="control">
          <textarea class="textarea" placeholder="Description" formControlName="description"></textarea>
        </div>
      </div>

      <div class = "field">
        <label class = "label" for="pricePerDay">
          Price per day
        </label>
        <div class = "control">
          <input class = "input" id="pricePerDay" type="number" formControlName="pricePerDay">
        </div>
      </div>
      <div formGroupName="address">
        <div class = "field">
          <label class = "label" for="country">
            Country
          </label>
          <div class = "control">
            <input class = "input" id="country" type="text" formControlName="country">
          </div>
        </div>
        <div class = "field">
          <label class = "label" for="city">
            City
          </label>
          <div class = "control">
            <input class = "input" id="city" type="text" formControlName="city" >
          </div>
        </div>
        <div class = "field">
          <label class = "label" for="street">
            Street
          </label>
          <div class = "control">
            <input class = "input" id="street" type="text" formControlName="street">
          </div>
        </div>
        <div class = "field">
          <label class = "label" for="houseNumber">
            House number
          </label>
          <div class = "control">
            <input class = "input" id="houseNumber" type="text" formControlName="houseNumber">
          </div>
        </div>
        <input type="file" (change)="onFileChanged($event)">
      </div>
      <div class = "block">
        <label class = "label" for="addServ">
          Rooms
        </label>
        <div *ngIf="getRooms.controls">
          <div formArrayName="rooms" *ngFor="let room of getRooms.controls; let i=index;" id="addRoom">
            <div class="field has-addons">
                <div class="control">
                  <input class = "input is-small" type='number' formControlName="numberOfBeds" placeholder="Beds">
                </div>
                <div class="control is-centered">
                  <button class = "delete" (click)="deleteRoom(i)"></button>
                </div>
            </div>
          </div>
        </div>
          <button class = "button is-inverted is-link" type="button" id="addService" (click) = "addRoom()">
            <i class="fa fa-plus" aria-hidden="true"></i>
            Add another room</button>
        </div>
      <button type="submit"
              class="button is-large is-warning"
              [disabled]="cottageCreationForm.invalid">
        Send
      </button>
    </form>
  </div>
</div>
