


      <form (ngSubmit)="filterCottages(cottageName.value)">
        <div class = "column is-three-fifths is-offset-one-fifth">
          <div class=" field">
            <label class="label"></label>
            <div class="control">
              <input #cottageName class="input" type="text" placeholder="Seach">
            </div>
          </div>
        </div>
      </form>
    <div id="app" *ngFor="let cottage of cottages" class="row column is-multiline ">
      <div class="column is-three-fifths is-offset-one-fifth">
<!--        <div class="columns">-->
<!--          <form (ngSubmit)="filterCottages(cottageName.value)">-->
<!--          <div class = "column is-three-fifths is-offset-one-fifth">-->
<!--            <div class=" field">-->
<!--              <label class="label"></label>-->
<!--              <div class="control">-->
<!--                <input #cottageName class="input" type="text" placeholder="Seach">-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          </form>-->
<!--        </div>-->
      <a routerLink="./{{cottage.id}}">
        <div class="card large">
          <div class="card-image">
            <figure class="image is-16by9">
              <img src="{{cottage.entityPhoto}}" alt="Image">
            </figure></div>
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img class ="is-rounded" src="https://icons.veryicon.com/png/o/miscellaneous/two-color-icon-library/user-286.png" alt="Image">
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4 no-padding">{{cottage.cottageName}}</p>
                <p><span class="title is-6">
                  </span>
                </p>
                <p class="subtitle is-6">
                  {{cottage.address.city}}
                </p>
              </div>
            </div>
           <div class="content">
           {{cottage.description}}
            </div>
            <div class="content">

            </div>
          </div>
        </div>
      </a>
      </div>
    </div>

<script src="../js/cardsData.js"></script>

<!-- Using Vue to populate cards to reduce redundant code -->
<script>
  var app = new Vue({
    el: '#app',
    data: {
      cardData: cardsData
    }
  })

</script>
