<div >
    <img class="entity_photo" src="{{adventure.entityPhoto}}">
    <h1 class="info">{{adventure.name}}</h1>
    <div fxLayout="row" fxLayoutGap="20px" *ngIf="hasSignedIn() && (hasRole('INSTRUCTOR') || hasRole('ADMIN'))" class="buttons">
      <button mat-flat-button color="accent" routerLink="/update-adventure/{{adventure.id}}">Edit</button>
      <button mat-flat-button color="accent" (click)="deleteAdventure()" >Delete</button>
    </div>

    <div class="content">
      <h1>Price</h1>
      <p>{{adventure.pricePerDay}}e</p>
      <h1>Description</h1>
      <p>{{adventure.description}}</p>
      <h1>Instructor Biography</h1>
      <p>{{adventure.instructorBio}}</p>
      <h1>Max Number of Guests</h1>
      <p>{{adventure.maxNumberOfGuests}}</p>
      <h1>House Rules</h1>
      <p>{{adventure.houseRules}}</p>
      <h1>Default fishing equipment</h1>
      <p></p>
      <h1>Cancellation Fee</h1>
      <p>{{adventure.cancellationFee}}%</p>
      <h1>Address</h1>
      <p>{{addressTxt}}</p>
        <app-map [address]="address"></app-map>
        <h1>Photos of previous adventures</h1>
        <div  fxLayout="row" fxLayoutGap="20px">
          <input type="file" (change)="onFileChanged($event)">
          <button mat-flat-button color="accent" (click)="uploadPhoto()">Save new photo</button>
        </div>
        <div class="album">
          <!-- <mat-grid-list cols="4" rowHeight="150px" size="400px">
            <mat-grid-tile
              *ngFor = "let url of adventure.photos;let photo of album;"
              [rowspan]="photo.rows"
              [colspan]="photo.cols"
              style="background-color: blueviolet;"> -->
              <!-- <img src="https://picsum.photos/200/{{300+index}}" style="object-fit: cover; width: 100%; height: 100%;"> -->
              <img *ngFor="let url of adventure.photos;" src="{{url}}" style="object-fit: cover; width: 100%; height: 100%;">
            <!-- </mat-grid-tile>
          </mat-grid-list> -->
        </div>
        <h1>Adventure Calendar</h1>
        <button class="button is-link is-rounded" (click)="showForm=2">Create new quick reservation</button>
                <div class="modal is-active" *ngIf="showForm === 2">
                  <div class="modal-background"></div>
                  <div class="modal-card">
                    <header class="modal-card-head">
                      <p class="modal-card-title">Create new quick reservation</p>
                      <button class="delete" (click)="showForm=1" aria-label="close"></button>
                    </header>
                    <section class="modal-card-body">
                      <app-reservation-form [entityId]="adventure.id" (createdReservationEvent)="createNewReservation($event)">
                      </app-reservation-form>
                    </section>
                    <footer class="modal-card-foot">
                      <button class="button" (click)="showForm=1">Cancel</button>
                    </footer>
                  </div>
                </div>
        <div class = "box" *ngIf="adventure.id != 0">
          <app-calendar [entityId]= "adventure.id">
          </app-calendar>
        </div>

      </div>

</div>



