<section class="hero is-fullheight has-background-light">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="columns is-8 is-variable ">
        <div class="column is-two-thirds has-text-left">
          <h1 class="title is-1">Contact Us</h1>
          <p class="is-size-4">Easy and fast way to find your favorite vacation spot or to offer your cottage, boat or adventure and make money.</p>
          <div class="social-media">
            <a href="https://facebook.com" target="_blank" class="button is-light is-large has-background-light"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
            <a href="https://instagram.com" target="_blank" class="button is-light is-large has-background-light"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            <a href="https://twitter.com" target="_blank" class="button is-light is-large has-background-light"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          </div>
        </div>
        <div class="column is-one-third has-text-left">
          <form #loginForm="ngForm" fxLayoutAlign="stretch" fxLayout="column" class="login-form" *ngIf="!submitted" [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="field">
              <label class="label">Email</label>
              <div class="control">
                <input class="input is-medium" type="text" type="email" placeholder="Email" formControlName="email" required>
              </div>
            </div>
            <div class="field">
              <label class="label">Password</label>
              <div class="control">
                <input class="input is-medium" type="password" placeholder="Password" type="text" formControlName="password" required>
              </div>
            </div>
            <div class="control">
              <button type="submit" class="button is-link is-fullwidth has-text-weight-medium is-medium" [disabled]="!loginForm.form.valid">Login</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
