<div class = "column is-10 is-offset-1">
  <nav class="level">
    <!-- Left side -->
    <div class="level-left">
      <div class="level-item">
        <p class="subtitle is-5">
          <strong>{{reservations.length}}</strong> posts
        </p>
      </div>
      <div class="level-item">
        <form [formGroup]= "reservationsDateRangeForm">
          <div class=" field has-addons">
            <div class = "control">
            <input class = "input" id="startDate" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1"
                   placeholder="From" formControlName="startDate">
            <owl-date-time #dt1></owl-date-time>
            </div>
            <div class = "control">
            <input class = "input" id="endDate" [owlDateTime]="dt2" [owlDateTimeTrigger]="dt2"
                   placeholder="To" formControlName="endDate">
            <owl-date-time #dt2 ></owl-date-time>
            </div>
            <div class = "control">
              <button class="button is-success is-right" (click) = "findReservationsInDateRange(reservationsDateRangeForm)">Search</button>
            </div>
          </div>
        </form>
<!--          <p class="control">-->
<!--            <input class="input" type="text" placeholder="Find a post">-->
<!--          </p>-->
<!--          <p class="control">-->
<!--            <button class="button">-->
<!--              Search-->
<!--            </button>-->
<!--          </p>-->
      </div>
    </div>

    <!-- Right side -->
    <div class="level-right">
      <p class="level-item"><span class="is-size-5" [ngClass]="{'tag is-success is-light': filterStatus == 1 }" (click)="filterReservationsByStatus('FREE'); filterStatus = 1">Free</span></p>
      <p class="level-item"><span class="is-size-5" [ngClass]="{'tag is-success is-light': filterStatus == 2 }" (click)="filterReservationsByStatus('RESERVED'); filterStatus = 2">Reserved</span></p>
      <p class="level-item"><span class="is-size-5" [ngClass]="{'tag is-success is-light': filterStatus == 3 }" (click)="filterReservationsByStatus('COMPLETED'); filterStatus = 3">Completed</span></p>
      <p class="level-item"><span class="is-size-5" [ngClass]="{'tag is-danger is-light': filterStatus == 4 }" (click)="filterReservationsByStatus('CANCELED'); filterStatus = 4">Canceled</span></p>
    </div>
  </nav>
    <table class="table is-striped">
      <thead>
      <tr>
        <th><abbr title="Id">Id</abbr></th>
        <th><abbr title="Creation date">Creation date</abbr></th>
        <th><abbr title="Price">Price</abbr></th>
        <th><abbr title="Number of guests"># of guests</abbr></th>
        <th><abbr title="Reservation status">Status</abbr></th>
        <th><abbr title="Reservation start">Start</abbr></th>
        <th><abbr title="Reservation end">End</abbr></th>
        <th><abbr title="Sale start">Sale start</abbr></th>
        <th><abbr title="Sale end">Sale end</abbr></th>
        <th><abbr title="Client id">Client</abbr></th>
        <th><abbr title="Additional services"> Service : Price</abbr></th>
        <th *ngIf="filterStatus==3"><abbr title="Review">Report</abbr></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let res of reservations;">
        <th>{{res.id}}</th>
        <td>{{res.creationDate}}</td>
        <td>{{res.price}}</td>
        <td>{{res.numberOfGuests}}</td>
        <td>{{res.reservationStatus.toString()}}</td>
        <td>{{res.reservedPeriod.startDate}}</td>
        <td>{{res.reservedPeriod.endDate}}</td>
        <td>{{res.salePeriod.startDate}}</td>
        <td>{{res.salePeriod.endDate}}</td>
        <td ><a routerLink="/profile/{{res.clientId}}"> {{clientNames[res.id-1]}}</a></td>
        <td>
          <li *ngFor="let addService of res.additionalServices">
            {{addService['name']}} : {{addService['price']}}
          </li>
        </td>
        <td *ngIf="filterStatus==3"><button class="button is-danger is-rounded" (click)= "showForm=1; review.reservationDTO = res">Fill report</button></td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="modal is-active" *ngIf="showForm === 1">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Report</p>
        <button class="delete" (click)="showForm=0" aria-label="close"></button>
      </header>
      <section class="modal-card-body">
        <form [formGroup]="reviewForm" (ngSubmit)="saveReview(); showForm=0;">
          <mat-form-field>
            <textarea matInput formControlName="description" type="text" placeholder="Write comment..." style="height: 100px;width: 200px;"  required></textarea>
          </mat-form-field>
          <br>
          <mat-radio-group>
            <mat-radio-button value="1" (click)="radioButtonValue=1">
              Report client
            </mat-radio-button>
            <br>
            <mat-radio-button value="2" (click)="radioButtonValue=2">
              Client didn't show up
            </mat-radio-button>
            <br>
            <mat-radio-button value="3" (click)="radioButtonValue=3">
              Skip
            </mat-radio-button>
          </mat-radio-group>
          <br>
          <button mat-raised-button type="submit">Send</button>
        </form>
      </section>
    </div>
  </div>
