<form [formGroup]="ownerReviewForm" (ngSubmit)="submitForm()">
  <div class="field">
    <label class="label">
      Description
    </label>
    <div class="control">
      <textarea class="textarea" placeholder="Review description" formControlName="description"></textarea>
    </div>
  </div>
  <div class ="field">
    <label class="label">
      Report client:
    </label>
    <div class="control">
      <mat-radio-group>
        <mat-radio-button value=1 (click)="radioButtonValue=1">
          Report client
        </mat-radio-button>
        <br>
        <mat-radio-button value=2 (click)="radioButtonValue=2">
          Client didn't show up
        </mat-radio-button>
        <br>
        <mat-radio-button value = 3 (click)="radioButtonValue=3">
          Skip
        </mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
  <button type="submit" class="button is-large is-link">
    Send
  </button>
</form>

